{% extends 'base.html.twig' %}

{% block title %}Edit WeatherDescription{% endblock %}

{% block body %}
    <h1>Edit WeatherDescription</h1>

    {{ include('weather_description/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_weather_description_index') }}">back to list</a>

    {{ include('weather_description/_delete_form.html.twig') }}
{% endblock %}
